.input {
    padding: var(--space-3);
    font-size: var(--font-sm);
    border: 1px solid var(--color-gray);
    border-radius: var(--radius-sm);
    outline: none;
}


.input:focus {
    border-color: var(--color-black);
}