.stack-sm > * + * {
    margin-top: var(--space-2);
}


.stack-md > * + * {
    margin-top: var(--space-3);
}


.stack-lg > * + * {
    margin-top: var(--space-4);
}


.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
}