.header {
    display: flex;
     align-items: center;
    justify-content: space-between;
    /*background-color: var(--color-black);*/
    margin-bottom: 20px;
}

.header:last-child {
    justify-self: flex-end;
}
.menu {
    display: flex;
     align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.menu a {
    text-decoration: none;
}

.menu a:hover {
    color: black;
}